---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
---

<Section title="Tecnologías y Herramientas">
  <ul>
    {
      skills.map(({ name, keywords }) => {
        return (
          <li>
            <h5>{name}</h5>
            <article>
              <ul>
                {keywords.map((keyword) => (
                  <li>{keyword}</li>
                ))}
              </ul>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
/* Estilo base para todos los elementos de lista */
li {
  border-radius: 4px;
  background-color: #f4f4f4; /* Fondo gris claro */
  color: #333; /* Texto oscuro */
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  margin: 4px;
  list-style: none; /* Eliminar puntos de la lista */
}

/* Para resaltar habilidades claves */
li.highlight {
  background-color: #f1c40f; /* Fondo amarillo suave */
  color: #fff; /* Texto blanco */
  font-weight: 600; /* Negrita */
}

/* Estilo para el contenedor del artículo */
article {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 4px;
  background-color: #fff;
}

/* Estilo para la lista dentro del artículo */
article ul {
  padding-left: 20px; /* Sangría para los elementos de la lista */
  margin: 0; /* Eliminar márgenes */
}
</style>
